/* Default Light Mode Styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    font-family: Arial, sans-serif;
    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    background-color: #121212;
    padding: 2rem;
    border-radius: 12px;
    width: 70%;
    max-width: 320px;
    position: relative;
    margin-bottom: 20px;
    animation: rainbow-border 5s linear infinite;
}

h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #4caf50;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 2px solid red;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s ease;
    box-sizing: border-box;
    background-color: #121212;
    color:#fff;
}

input:focus,
select:focus {
    border-color: #4caf50;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: red;
    color: #fff;
    border: none;
    padding: 13px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

.mode-switch {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

.response-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 91.5%;
    color: green;
    padding: 13px;
    border-radius: 8px;
    font-size: 1rem;
    display: none;
}

.catfact-display {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    min-height: 50px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

/* Rainbow Border Animation */
@keyframes rainbow-border {
    0% { border: 3px solid red; }
    25% { border: 3px solid orange; }
    50% { border: 3px solid yellow; }
    75% { border: 3px solid green; }
    100% { border: 3px solid blue; }
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #000;
}

body.dark-mode .container {
    background-color: #121212;
}

body.dark-mode .btn {
    background-color: red;
}

body.dark-mode .btn:hover {
    background-color: #444;
}
